#frame {
    background: hsl(0, 0%, 100%);
    height: 6rem;
}

#frame-left {
    position: absolute;
    width: 4rem;
    left: 0;
    background: white;
    height: 6rem;
    z-index: 1;   
}

#frame-right {
    left: 15rem;
    background: white;
    height: 6rem;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#frame-main {
    position: fixed;
    width: 10rem;
    height: 6.01rem;
    margin-top: -0.3rem;
    border: solid brown 5px;
    z-index: -1;
    left: 4rem;
    display: none;
}
