<div id="wrapper">
  
    <div id="task-list">
      <div id="list">
        <h2>Task List</h2>
  
        <ul>
          <li *ngFor="let task of taskItems$ | async">
            {{ task.name }}<button class="delete" (click)="deleteItem(task.id)">x</button>
          </li>
        </ul>
      </div>

      <form (ngSubmit)="addItem()">
        <input
        type="text"
        [(ngModel)]="newTaskItem.name"
        placeholder="Task"
        name="taskName"
        />
        <select name="priority">
          <option *ngFor="let priority of priorities">{{ priority }}</option>
        </select>
        <button type="submit">+</button>
      </form>
      
    </div>
    
  </div>