#wrapper {
    text-align: center;
    color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0px auto;
    width: 400px;
  }
  
  #task-list {
    border: solid 1px #222f3e;
  }
  
  form {
    display: flex;
    flex-direction: row;
  }
  
  form > input {
    flex-grow: 1;
    outline: none;
    padding-left: 4px;
    border: 0px;
    height: 20px;
  }
  
  form > button, button.delete {
    border: 0px;
    background: #6b1dd1e7;
    color: white;
    outline: none;
  
    &:hover {
      background: #981dd19d;
    }
  }
  
  ul {
    list-style: none;
    background: #981dd19d;
    padding: 1px 0px;
    margin: 0px;
  }
  
  li {
    margin: 9px;
    position: relative;
  }
  
  h2 {
    background: #6b1dd1e7;
    padding: 10px 0px;
    margin: 0px;
  }

  .delete {
    position: absolute;
    right: 3%;
    top: -12%;
  }