<div id="wrapper">
    <div *ngIf="!(error$ | async); else error" id="task-list">

      <div id="list">
        <h2>Task List<div class="lds-ring" *ngIf="loading$ | async"><div></div><div></div><div></div><div></div></div></h2>
  
        <ul>
          <li *ngFor="let task of taskItems$ | async">
            {{ task.name }}<button class="delete" (click)="deleteItem(task.id)">x</button>
          </li>
        </ul>
      </div>

      <form (ngSubmit)="addItem()">
        <input
        type="text"
        [(ngModel)]="newTaskItem.name"
        placeholder="Task"
        name="taskName"
        />
        <select name="priority">
          <option *ngFor="let priority of priorities">{{ priority }}</option>
        </select>
        <button type="submit">+</button>
      </form>
      
    </div>

  </div>

  <ng-template #error>
    <h2>{{ (error$ | async)?.message }}</h2>
  </ng-template>