.img {
    width: 5.5rem;
    height: 5.5rem;
    margin: 0.25rem;
}

.block {
    float: left;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transform: translateX(0);
}